
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111111;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




.message{

    display: flex;
    flex-direction: row;
    background-color: #272525;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-size: 74px;
    text-align: center;
    height: 150px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 150px;
}

.content{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 42px;
    justify-content: center;
    align-items: center;
}

.label{
    background-color: #272525;
    border-bottom: white;
}