
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-bonus
  namespace: argocd 
spec:
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  source:
    path: .
    repoURL: http://gitlab-webservice-default.gitlab.svc:8181/root/calbor-p-iot-bonus.git
    targetRevision: main
  sources: []
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
      enabled: true
