
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-p3
  namespace: argocd 
spec:
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  source:
    path: .
    repoURL: https://github.com/ChristopheAlborPirame/iot-calbor-p
    targetRevision: HEAD
  sources: []
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
      enabled: true
